<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Symblog</title>
    {% block stylesheets %}

        <link href="{{ asset('bundles/core/css/bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/core/css/font-awesome.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/core/css/font.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/core/css/clean-blog.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/core/css/main.css') }}" rel="stylesheet"/>
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
              type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
              rel='stylesheet' type='text/css'>
    {% endblock %}

</head>
<body>
{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('blog_core_post_index') }}">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endblock %}
{% block header %}
    {# Header contents goes here. Individual to each pages #}
    {% for type, message in app.session.flashbag.all() %}
        {% for message in messages %}
            <p class="success">{{ message }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8">

            {% block mainContainer %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            {% endblock %}

        </div>
        <div class="col-lg-2 col-lg-offset-2">
            {% block latestPosts %}
            {% endblock %}
        </div>
    </div>
</div>

<hr>


{% block footer %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts_footer %}
    <!-- / footer -->
    <script src="{{ asset('bundles/core/js/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('bundles/core/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/core/js/clean-blog.min.js') }}"></script>
{% endblock %}
</body>
</html>


